<p id="notice"><%= notice %></p>

<h1>Rdvs</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Phone number</th>
      <th>Time</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @rdvs.each do |rdv| %>
      <tr>
        <td><%= rdv.name %></td>
        <td><%= rdv.phone_number %></td>
        <td><%= rdv.time %></td>
        <td><%= link_to 'Show', rdv %></td>
        <td><%= link_to 'Edit', edit_rdv_path(rdv) %></td>
        <td><%= link_to 'Destroy', rdv, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Rdv', new_rdv_path %>
